{% extends 'base.html.twig' %}

{% block title %}Edit Configuration{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Editar</h4>
            {{ include('configuration/_form.html.twig', {'button_label': 'Actualizar'}) }}

            <a href="{{ path('configuration_index') }}" class="btn btn-outline-secondary">Lista</a>

            {{ include('configuration/_delete_form.html.twig') }}
        </div>
    </div>



{% endblock %}
